<h2>Listing Revisions</h2>

<table>
	<tr>
		<th>ID</th>
		<th>Summary</th>
		<th>Body</th>
		<th>Tags</th>
		<th>Created</th>
		<th>Updated</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @revisions.each do |revision| %>
	<tr>
		<td><%= revision.id %></td>
		<td><%= revision.summary %></td>
		<td><%= revision.tags %></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
<% end %>
</table>

<%= link_to "New revision", new_revision_path %>