<%= form_for(@document) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>
  </div>

  <%= f.submit 'Create Document', class: 'btn btn-primary'%>
  
<% end %>
