<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>New Document on Branch <%= @branch.name %></h1>
		<div class="well">
			<%= render 'form' %>
		</div>
		<%= link_to 'Back', branch_documents_path %>
	</div>
</div>