<p id="notice"><%= notice %></p>

<h1>Document: <%= @document.title %></h1>

<%= link_to 'Edit', edit_branch_document_path(@document.branch_id, @document.id) %> |
<%= link_to 'Back', branch_documents_path %>